html, body {
  width: 100vw;
  overflow-x: hidden;
}

table {
  width: 100%;
  table-layout: auto;
}

* {
  outline: 1px solid red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

#app {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* Couleur de fond (modifiable) */
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optionnel : ombre pour le style */
}